In [4]:
import random
nilaiTugas=[]
for i in range(250):
    nilaiTugas.append(random.randrange(1,100,1))
print(nilaiTugas)

[12, 37, 72, 77, 54, 71, 42, 55, 47, 49, 74, 84, 2, 79, 85, 35, 11, 79, 37, 74, 83, 37, 8, 37, 22, 73, 17, 74, 10, 3, 40, 42, 58, 5, 93, 20, 22, 54, 28, 10, 59, 52, 5, 89, 79, 5, 64, 89, 55, 61, 6, 14, 53, 63, 23, 58, 3, 6, 82, 39, 55, 96, 25, 88, 85, 64, 11, 99, 59, 58, 65, 31, 30, 20, 71, 36, 88, 30, 81, 77, 65, 43, 79, 2, 83, 22, 87, 7, 92, 69, 11, 93, 2, 50, 93, 36, 38, 16, 80, 52, 9, 14, 7, 18, 71, 7, 70, 97, 51, 17, 84, 42, 50, 67, 86, 91, 11, 79, 66, 27, 61, 46, 25, 21, 41, 60, 8, 88, 63, 4, 37, 57, 14, 20, 5, 89, 5, 51, 84, 25, 46, 70, 14, 90, 33, 34, 38, 10, 69, 5, 72, 67, 98, 92, 54, 9, 44, 97, 95, 99, 27, 12, 60, 46, 37, 47, 70, 35, 73, 91, 74, 44, 65, 21, 3, 61, 71, 12, 6, 15, 32, 85, 31, 6, 79, 46, 12, 92, 85, 16, 66, 18, 90, 21, 31, 40, 66, 69, 83, 71, 15, 45, 61, 18, 98, 75, 17, 76, 87, 57, 71, 89, 21, 43, 89, 64, 17, 55, 32, 41, 1, 71, 38, 55, 84, 87, 53, 53, 22, 13, 44, 50, 11, 51, 82, 43, 87, 97, 49, 67, 38, 75, 59, 75, 41, 42, 87, 77, 14, 51]

In [14]:
ganjil=[]

for i in nilaiTugas:
    if i%2==1:
        ganjil.append(i)
print("nilai ganjil")
print(ganjil)

nilai ganjil
[37, 77, 71, 55, 47, 49, 79, 85, 35, 11, 79, 37, 83, 37, 37, 73, 17, 3, 5, 93, 59, 5, 89, 79, 5, 89, 55, 61, 53, 63, 23, 3, 39, 55, 25, 85, 11, 99, 59, 65, 31, 71, 81, 77, 65, 43, 79, 83, 87, 7, 69, 11, 93, 93, 9, 7, 71, 7, 97, 51, 17, 67, 91, 11, 79, 27, 61, 25, 21, 41, 63, 37, 57, 5, 89, 5, 51, 25, 33, 69, 5, 67, 9, 97, 95, 99, 27, 37, 47, 35, 73, 91, 65, 21, 3, 61, 71, 15, 85, 31, 79, 85, 21, 31, 69, 83, 71, 15, 45, 61, 75, 17, 87, 57, 71, 89, 21, 43, 89, 17, 55, 41, 1, 71, 55, 87, 53, 53, 13, 11, 51, 43, 87, 97, 49, 67, 75, 59, 75, 41, 87, 77, 51]

In [16]:
lebihDari=[]
for i in nilaiTugas:
    if i>70:
        lebihDari.append(i)
print("lebihDari")
print(lebihDari)

lebihDari
[72, 77, 71, 74, 84, 79, 85, 79, 74, 83, 73, 74, 93, 89, 79, 89, 82, 96, 88, 85, 99, 71, 88, 81, 77, 79, 83, 87, 92, 93, 93, 80, 71, 97, 84, 86, 91, 79, 88, 89, 84, 90, 72, 98, 92, 97, 95, 99, 73, 91, 74, 71, 85, 79, 92, 85, 90, 83, 71, 98, 75, 76, 87, 71, 89, 89, 71, 84, 87, 82, 87, 97, 75, 75, 87, 77]

In [24]:
max=nilaiTugas[0]
for i in nilaiTugas:
    if i>max:
        max=i
print(max)

99

In [27]:
min=nilaiTugas[0]
for i in nilaiTugas:
    if i<min:
        min=i
print(min)

1

In [29]:
#stadndar deviasi

a=0
j=len(nilaiTugas)
for n in nilaiTugas:
    a=a+n
rata=a/j

b=0
for n in nilaiTugas:
    c=n-rata
    pangkat=c**2
    b=b+pangkat
standarDeviasi=(b/(j-1))**(0.5)
print(standarDeviasi)

28.840818073497744

In [31]:
#modus
x={}
modus=""
for i in nilaiTugas:
    if i in x:
        x[i]+=1
    else:
        x[i]=1
max=0
for i in x:
    if x[i]>max:
        max=x[i]
        modus=i
print(modus)

71

In [38]:
#wordscount
paragraf = "Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir."


paragraf=paragraf.replace(',','')
paragraf=paragraf.replace('/','')
paragraf=paragraf.replace('.','')
paragraf=paragraf.replace('-','')
paragraf=paragraf.replace('(','')
paragraf=paragraf.replace(')','')

kalimat=paragraf.split()

for kata in kalimat:
    jumlah=kalimat.count(kata)
    print(kata,jumlah)

Barcelona 4
berhasil 1
merebut 1
posisi 1
puncak 1
klasemen 1
La 1
Liga 1
Spanyol 1
seusai 1
menang 1
42 1
atas 1
Sevilla 1
pada 3
pertandingan 1
pekan 1
kesembilan 1
di 1
Stadion 1
Camp 1
Nou 1
Sabtu 1
20102018 1
atau 1
Minggu 1
dini 1
hari 1
WIB 1
Barcelona 4
membuka 1
keunggulan 2
pada 3
menit 3
ke2 1
melalui 1
gol 1
yang 1
dicetak 1
oleh 1
Philippe 1
Coutinho 1
Lionel 1
Messi 3
menggandakan 1
keunggulan 2
Barcelona 4
10 1
menit 3
berselang 1
Namun 1
nahas 1
bagi 1
Barcelona 4
karena 1
Messi 3
harus 1
ditarik 1
keluar 1
pada 3
menit 3
ke26 1
setelah 1
mengalami 1
cedera 1
Tanpa 1
Messi 3
skor 1
20 1
bertahan 1
hingga 1
babak 1
pertama 1
berakhir 1